@import 'src/styles/site'

.scrim
  position: relative
  background: var(--color-scrim)
  display: flex
  align-items: center
  justify-content: center
  width: var(--view-width)
  height: var(--view-height)
  padding: size(32)
  margin-top: -47px

.modal
  background: var(--color-background)
  border-radius: $radius-l
  display: flex
  width: 100%
  flex-direction: column
  align-items: center
  position: relative

.content
  padding: size(32) size(24)
  text-align: center

.icon
  margin-bottom: size(12)
  display: flex
  align-items: center
  justify-content: center

.title
  @extend %typography-title-l
  color: var(--color-text)

.description
  @extend %typography-body
  color: var(--color-text)

.buttons
  width: 100%
  display: flex
  flex-direction: column

.modalButton
  padding: size(16) size(24)
  flex: 1
  appearance: none
  outline: none
  border: none
  background: none
  border-top: 1px solid var(--color-border-faint)
  @extend %typography-title-l

.primaryButton
  @extend .modalButton
  color: var(--color-text)

.secondaryButton
  @extend .modalButton
  color: var(--color-text-meta)