@use 'src/styles/site' as *
@use 'src/builder/admin.sass' as *

.ToolsSection
  border-bottom: 1px solid $dev-tools-section-border
  padding: size(8) $dev-tools-padding
  h3
    display: flex
    justify-content: space-between
    align-items: center
    font-size: $dev-tools-font-size-l
    @extend %medium
