@use 'src/styles/site' as *
@use 'src/builder/admin.sass' as *

.ToolsSection
  border-bottom: 1px solid var(--builder-section-border)
  padding: var(--builder-input-padding) var(--builder-padding)
  h3
    display: flex
    justify-content: space-between
    align-items: center
    font-size: var(--builder-font-size-l)
    @extend %medium
