@use 'src/styles/site' as *
@use 'src/admin/styles/admin.sass' as *

.ToolsSection
  border-bottom: 1px solid var(--admin-section-border)
  padding: var(--admin-input-padding) var(--admin-padding)
  display: flex
  flex-direction: column
  gap: size(8)
