@use 'src/styles/site' as *

.Main
  padding: 0 $margin-default
  display: flex
  flex-direction: column
  gap: size(16)
  p
    @extend %typography-body
    color: var(--color-text)
  h1
    text-align: left
    @extend %typography-display-xl
    + p
      margin-top: size(16)
      text-align: left
      @extend %typography-body
  h2
    @extend %typography-heading-l
    + p
      margin-top: size(16)
      @extend %typography-body
  h3
    @extend %typography-heading-m
    margin-bottom: size(4)
    + p
      margin-top: size(12)
      @extend %typography-body

  .image
    margin: 0
    width: 100%

    &.offset
      margin: neg-size(99) neg-size(16) 0 neg-size(16)// -99 to offset both the iosStatusBar and the TopBar height
      width: calc(100% + (var(--margin-default)*2))

  .headerSection
    display: flex
    align-items: center
    justify-content: space-between

  .showMore
    display: flex
    align-items: center
    p
      @extend %typography-body
      color: var(--color-text)