@use 'src/styles/site' as *

.Main
  padding: size(12)
  > div
    background: var(--color-background)
    box-shadow: var(--elevation-raised)
    border: var(--size-border-width-standard) solid var(--color-border-faint)
    border-radius: $radius-s
    padding: size(8)
    display: flex
    flex-direction: column
    gap: size(8)
  .topLine
    display: flex
    align-items: center
    gap: size(8)
    padding-left: size(8)
    position: relative
  .icon
    flex-shrink: 0
  .headline
    flex: 1
    @extend %typography-supportive-m
    color: var(--color-text)
    p
      margin: 0
      display: inline
    a
      color: var(--color-action)
      text-decoration: underline
  .closeButton
    flex-shrink: 0
  .bottomLine
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: size(4) size(8) size(0) size(40)
  .timestamp
    @extend %typography-supportive-s
    color: var(--color-text-meta)
  .counter
    @extend %typography-supportive-s
    color: var(--color-text-meta)
