@use 'src/styles/site' as *

.Main
  margin: 0 $margin-default
  padding: 0
  list-style: none
  display: flex
  flex-direction: column
  gap: size(16)
  background: none
  .title
    color: var(--color-text)
  .index
    background-color: var(--color-background-neutral-soft)
    color: var(--color-text)

.item
  display: flex
  align-items: flex-start
  gap: size(8)

.index
  display: flex
  align-items: center
  justify-content: center
  width: size(24)
  height: size(24)
  border-radius: var(--corner-radius-1x)
  @extend %typography-supportive-s

.content
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center

.title
  @extend %typography-body
  color: var(--color-text)
  &.showBody
    @extend %typography-title-l

.body
  @extend %typography-body
  color: var(--color-text)