@use 'src/styles/site' as *

$nav-bottom-border: 3px
$hitbox-height: size(48)

.hitbox
  display: flex
  flex: 1
  align-items: center
  height: $hitbox-height
  cursor: pointer
  width: 100%
  &.hitboxDisabled
    cursor: not-allowed

.Main
  cursor: pointer
  flex: 1
  display: flex
  align-items: center
  justify-content: center
  @include animate(0.1s)
  // background: var(--text-standard)
  // color: var(--color-text-solid)
  border-radius: $radius-pill
  padding: 0 size(20)

  &.disabled
    cursor: not-allowed

  .icon
    width: 20px
    height: 20px
    background: white
  &.primary
    background: var(--color-action)
    color: var(--color-label-knockout)
    &:hover
      background: var(--color-action-hover)
    &.disabled
      color: var(--color-background)
      opacity: 0.11
  &.secondary
    background: var(--color-background-knockout)
    color: var(--color-text)
    border: var(--size-border-width-standard) solid var(--color-border)
    &.disabled
      background: var(--color-background-knockout)
      color: var(--color-text-disabled)
      border-color: var(--color-border-disabled)
    &.emphasised
      border-color: var(--color-action)
      color: var(--color-action)
  &.ghost
    background: var(--color-background-transparent)
    color: var(--color-text)
    &.disabled
      color: var(--color-text-disabled)
    &.emphasised
      color: var(--color-action)
  &.small
    height: size(32)
    display: inline-flex
    @extend %typography-supportive-m-bold
    &.iconOnly
      width: size(32)
      height: size(32)
      padding: 0
  &.medium
    height: size(48)
    @extend %typography-supportive-l-bold
    &.iconOnly
      width: size(44)
      height: size(44)
      padding: 0