@use 'src/styles/site' as *

.Main
  margin: 0 $margin-default
  height: size(28)
  position: relative
  .trackBackground
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    right: 0
    height: size(4)
    border-radius: $radius-pill
    background: var(--color-background-neutral-soft)
  .track
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    right: 0
    height: size(4)
    border-radius: $radius-pill
    background: var(--color-action)
  .thumb
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 0
    height: size(28)
    width: size(28)
    border-radius: $radius-pill
    background: var(--color-action)
