@use 'src/styles/site' as *

.Main
  margin: 0 $margin-default
  display: flex
  .content
    flex: 1
    padding: 0 0 size(24) 0
  .label
    @extend %typography-title-l
    color: var(--color-text)
  .body
    @extend %typography-supportive-m
    color: var(--color-text)
  .metadata
    display: flex
    flex-direction: column
    gap: size(4)
  .metadataTime
    @extend %typography-supportive-m
    color: var(--color-text-meta)
  .metadataLocation
    @extend %typography-supportive-m
    color: var(--color-text-meta)
  .children
    margin-top: size(12)
  .indicator
    position: relative
.RowIndicator
  display: flex
  flex-direction: column
  align-items: center
  gap: size(8)
  margin-right: size(24)
  padding-top: size(8)
  width: size(16)
  height: 100%
  .initialLine
    height: size(18)
    width: size(2)
  .endLine
    flex: 1
    width: size(2)
  .dot
    width: size(8)
    height: size(8)
    border-radius: $radius-pill
  &.beginning
    .initialLine
      opacity: 0
  &.end
    .endLine
      opacity: 0
  .initialLine
    background: var(--color-border-faint)
  .dot
    background: var(--color-indicator-solid-disabled)
  .endLine
    background: var(--color-border-faint)
