@use 'src/styles/site' as *

.Main
  margin: 0 $margin-default
  padding: 0
  list-style: none
  display: flex
  flex-direction: column
  background: none
  .title
    color: var(--color-text)
  .icon
    margin-right: size(8)
  &.small
    gap: size(8)
    .body
      margin-bottom: size(8)
  &.medium
    gap: size(32)
    padding: size(16) 0

.item
  display: flex
  align-items: flex-start
  gap: size(8)

.icon
  display: flex
  align-items: center
  justify-content: center
  width: size(24)
  height: size(24)

.content
  flex: 1
  display: flex
  flex-direction: column
  justify-content: center

.title
  @extend %typography-title-l
  color: var(--color-text)

.body
  @extend %typography-body
  color: var(--color-text)
  margin-top: size(2) 