@use 'src/styles/site' as *

.Main
  width: size(24)
  height: size(24)
  border: var(--size-border-width-standard) solid var(--color-border)
  border-radius: $radius-pill
  &.checked
    border: 8px solid var(--color-checked)
