@use 'src/styles/site' as *

.Main
  width: size(52)
  height: size(32)
  background: var(--color-background-neutral-soft)
  border-radius: $radius-pill
  position: relative
  .knob
    position: absolute
    top: size(2)
    left: size(2)
    width: size(28)
    height: size(28)
    background: var(--white-a100)
    border-radius: $radius-pill
  &.checked
    background: var(--color-icon)
    border: none
    .knob
      position: absolute
      right: size(2)
      left: auto
