@import 'src/styles/site'

.Main
  white-space: nowrap
  overflow-x: scroll
  width: 100%
  padding: 0 $margin-default
  &::-webkit-scrollbar
    display: none
.FilterChip
  border-radius: $radius-pill
  background: var(--color-background)
  height: size(32)
  display: inline-flex
  align-items: center
  justify-content: center
  @extend %typography-title-s
  color: var(--color-text)
  padding: 0 size(16)
  margin-right: size(8)
  gap: size(4)
  cursor: pointer
  &.active
    background: var(--color-background-neutral-soft)
    cursor: auto
