// Typography sizing
  
:root
  --text-scale: 1 
  ////////

  --text-size-avatar-96: 48px
  --text-size-avatar-64: 32px
  --text-size-avatar-48: 24px
  --text-size-avatar-32: 16px
  --text-size-avatar-28: 14px
  --text-size-avatar-24: 12px
  --text-size-avatar-20: 10px

////////

[data-text-scale="THEME_SCALE_0_POINT_75"]
  --text-scale: 0.75

[data-text-scale="THEME_SCALE_1_POINT_1"]
  --text-scale: 1.1
  
[data-text-scale="THEME_SCALE_1_POINT_2"]
  --text-scale: 1.2

[data-text-scale="THEME_SCALE_1_POINT_5"]
  --text-scale: 1.5

// Device sizing

:root
  --view-width: 375px
  --view-height: 812px

[data-device="THEME_DEVICE_EXTRA_SMALL"]
  --view-width: 320px
  --view-height: 568px

[data-device="THEME_DEVICE_SMALL"]
  --view-width: 340px
  --view-height: 708px
  
[data-device="THEME_DEVICE_LARGE"]
  --view-width: 440px
  --view-height: 956px



// Font styling

::root
  --font-display: var(--font-family-display)
  --font-heading: var(--font-family-display)
  --font-standard: var(--font-family-sans)
  --font-meta: var(--font-family-sans)

  --font-regular-weight: var(--font-weight-regular)
  --font-medium-weight: 500
  --font-bold-weight: var(--font-weight-bold)
  --font-extra-bold-weight: 700

  --font-heading-weight: var(--font-medium-weight)

  ////////
  