@use "theme.sass" as *
@use "mixins.sass" as *
//
// FONTS //
//
//
$font-dev: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
//
// TYPOGRAPHY
//
%heading
  font-family: var(--font-family-display)
  font-weight: ar(--font-weight-regular)
  color: var(--color-text)

%paragraph
  font-family: var(--font-family-sans)
  font-weight: ar(--font-weight-regular)
  color: var(--color-text)

%meta
  font-family: var(--font-family-sans)
  font-weight: ar(--font-weight-regular)
  color: var(--color-text)
//
//
//
%regular
  font-weight: var(--font-weight-regular)

%medium
  font-weight: var(--font-weight-medium)

%bold
  font-weight: var(--font-weight-bold)

%extra-bold
  font-weight: var(--font-weight-bold)

%body-bold
  @extend %bold
//
//
//
//
@mixin fontSize($size, $line, $spacing)
  font-size: calc($size * var(--text-scale)) //calc(var(--text-size-#{$size}) * )//
  line-height: calc($line * var(--text-scale))
  letter-spacing: $spacing
//
//
//
//
// New typography placeholders sourced from globals.css
//
%typography-supportive-s
  @extend %paragraph
  @extend %regular
  @include fontSize(var(--font-size-supportive-s), var(--line-height-supportive-s), 0)

%typography-supportive-m
  @extend %paragraph
  @extend %regular
  @include fontSize(var(--font-size-supportive-m), var(--line-height-supportive-m), 0)

%typography-supportive-m-bold
  @extend %paragraph
  @extend %bold
  @include fontSize(var(--font-size-supportive-m), var(--line-height-supportive-m), 0)

%typography-supportive-l
  @extend %paragraph
  @extend %regular
  @include fontSize(var(--font-size-supportive-l), var(--line-height-supportive-l), 0)

%typography-supportive-l-bold
  @extend %paragraph
  @extend %bold
  @include fontSize(var(--font-size-supportive-l), var(--line-height-supportive-l), 0)

%typography-title-s
  @extend %paragraph
  @extend %bold
  @include fontSize(var(--font-size-title-s), var(--line-height-title-s), 0)

%typography-title-l
  @extend %paragraph
  @extend %bold
  @include fontSize(var(--font-size-title-l), var(--line-height-title-l), 0)

%typography-heading-s
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-heading-s), var(--line-height-heading-s), 0)

%typography-heading-m
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-heading-m), var(--line-height-heading-m), 0)

%typography-heading-l
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-heading-l), var(--line-height-heading-l), 0)

%typography-body
  @extend %paragraph
  @extend %regular
  @include fontSize(var(--font-size-body), var(--line-height-body), 0)

%typography-body-bold
  @extend %paragraph
  @extend %bold
  @include fontSize(var(--font-size-body), var(--line-height-body), 0)

%typography-prose
  @extend %paragraph
  @extend %regular
  @include fontSize(var(--font-size-prose), var(--line-height-prose), 0)

%typography-prose-bold
  @extend %paragraph
  @extend %bold
  @include fontSize(var(--font-size-prose), var(--line-height-prose), 0)

%typography-display-s
  @extend %heading
  @extend %regular
  @include fontSize(var(--font-size-display-s), var(--line-height-display-s), 0)

%typography-display-s-bold
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-display-s), var(--line-height-display-s), 0)

%typography-display-m
  @extend %heading
  @extend %regular
  @include fontSize(var(--font-size-display-m), var(--line-height-display-m), 0)
%typography-display-m-bold
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-display-m), var(--line-height-display-m), 0)

%typography-display-l
  @extend %heading
  @extend %regular
  @include fontSize(var(--font-size-display-l), var(--line-height-display-l), 0)
  
%typography-display-l-bold
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-display-l), var(--line-height-display-l), 0)

%typography-display-xl
  @extend %heading
  @extend %regular
  @include fontSize(var(--font-size-display-xl), var(--line-height-display-xl), 0)

%typography-display-xl-bold
  @extend %heading
  @extend %bold
  @include fontSize(var(--font-size-display-xl), var(--line-height-display-xl), 0)
////////
//
// Typography hierarchy
//

%typography-hierarchy
  p
    @extend %typography-body
    
  a
    text-decoration: underline

  p, ul
    + h2, + h3
      margin-top: units(4)
    + h4, + h5
      margin-top: units(3)

  blockquote
    margin-top: units(3)
    padding: units(3) 0 0 0

  .body-0
    @extend %typography-body
  .body-1
    @extend %typography-body
  .body-2
    @extend %typography-supportive-s
  .button-text
    @extend %typography-title-l
    
  strong, b
    @extend %bold


  h1, .heading-l
    @extend %typography-heading-l
    margin-bottom: units(4)
  h2, .heading-m
    @extend %typography-heading-l
    margin-bottom: units(1)
  h3, .heading-s
    @extend %typography-heading-m
    margin-bottom: units(1)
  h4
    @extend %typography-heading-l
    margin-bottom: units(1)
  h5
    @extend %typography-title-l
  h6
    @extend %typography-title-s
    margin-bottom: units(1)
  ul
    @extend %standard-list
  hr
    height: 1
    border: none
    background: var(--color-background-neutral-soft)
    margin: units(4) 0 units(3) 0

//
// Avatar typography
//

%avatar-96
  @extend %heading
  @extend %medium
  @include fontSize(var(--text-size-avatar-96), var(--text-size-avatar-96), 0)

%avatar-64
  @extend %heading
  @extend %medium
  @include fontSize(var(--text-size-avatar-64), var(--text-size-avatar-64), 0)

%avatar-48
  @extend %heading
  @extend %medium
  @include fontSize(var(--text-size-avatar-48), var(--text-size-avatar-48), 0)

%avatar-32
  @extend %heading
  @extend %medium
  @include fontSize(var(--text-size-avatar-32), var(--text-size-avatar-32), 0)

%avatar-28
  @extend %heading
  @extend %medium 
  @include fontSize(var(--text-size-avatar-28), var(--text-size-avatar-28), 0)

%avatar-24
  @extend %heading
  @extend %medium
  @include fontSize(var(--text-size-avatar-24), var(--text-size-avatar-24), 0)  

%avatar-20
  @extend %heading
  @extend %medium
  @include fontSize(var(--text-size-avatar-20), var(--text-size-avatar-20), 0)
  
////////
//
//