@use 'src/styles/site' as *

.Main
  padding: 0 $margin-default
  display: flex
  align-items: top
  &.checked
  .card
    flex: 1
    display: flex
    align-items: top
    padding: size(16)
    cursor: pointer
    position: relative
  h5
    @extend %typography-title-l
    color: var(--color-text)
  p
    @extend %typography-body
    color: var(--color-text)
    margin-top: size(4)
  .textContent
    flex: 1
    padding-right: size(16)