@import 'src/styles/site'

.Main
  padding: 0 $margin-default
  display: flex
  align-items: top
  &.checked
    .card:after
      border-color: var(--color-border)
      border-width: var(--size-border-width-selected)
  .card
    flex: 1
    display: flex
    align-items: top
    padding: size(16)
    cursor: pointer
    position: relative
    &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      border-radius: $radius-m
      border: var(--size-border-width-standard) solid var(--color-border-subtle)
  h5
    @extend %body-label-m
    color: var(--color-text)
  p
    @extend %body-body-s
    color: var(--color-text)
    margin-top: size(4)
  .textContent
    flex: 1
    padding-right: size(16)