@import 'src/styles/site'
@import 'src/admin/admin.sass'

.Tabs
  display: flex
  gap: size(4)
  padding: size(8) var(--admin-space-16)
  border-bottom: 1px solid var(--admin-color-border)

.Tab
  background: var(--admin-color-bg-elevated)
  border: none
  border-radius: 500px
  padding: size(6) size(12)
  font-size: var(--admin-font-s)
  color: var(--admin-color-text-subtle)
  cursor: pointer
  flex: 0 0 auto
  // width: min-content
  transition: background 0.15s

  &:hover
    &:not(&.active)
      background: var(--admin-color-bg-muted)

  &.active
    background: var(--admin-color-bg-muted)
    color: var(--admin-color-text)
    @extend %medium
