@use 'src/styles/site' as *
@use 'src/builder/admin.sass' as *

.section
  border-bottom: 1px solid var(--builder-section-border)
  overflow: hidden
  &.open
    .header h4
      color: var(--builder-text-dark)
.header
  display: flex
  justify-content: space-between
  align-items: center
  cursor: pointer
  height: var(--builder-section-header-height)
  padding: 0 var(--builder-padding)
  user-select: none
  h4
    font-size: var(--builder-font-size-l)
    @extend %medium
    color: var(--builder-text-medium)
  &:hover
    //background: rgba(black, 0.18)
    h4
      color: var(--builder-text-dark)
    .arrow
      opacity: 1
.arrow
  font-size: var(--builder-icon-font-size)
  opacity: 0.4
  display: flex
  align-items: center
  justify-content: center
  width: 16px
  height: 16px
  color: var(--builder-text-medium)
  transform-origin: center
.content
  display: block
  overflow: hidden
  > div
    padding: 0 var(--builder-padding) var(--builder-padding) var(--builder-padding)
